
    
   <h3>User info</h3>
   
       <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: 'no_image.jpg' %>
       
       <table class = "table">
           <tbody>
               
                <tr>
                    <th>Name</th>
                    <th> <%= user.name %> </th>
                </tr>
               
                <tr>
                    <th>introduction</th>
                    <th> <%= user.introduction %> </th>
                </tr>
                <tr class = "button">
                    <th>
                        <%= link_to "edit", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_5612" %>
                    </th>
                </tr>
            </tbody>
        </table>
