<body>
<div class = "container">
    <div class = "row">
        <div class = "mx-auto col-11 col-lg-8">
            
            <p id = "notice"></p>
            
            <h1>
                Welcome to 
                <i class = "fas fa-book"></i>
                <strong>Bookers!!</strong>
            </h1>
            
            <p>
                In
                <strong>
                    Bokers,
                </strong>
            </p>
            
        </div>
    </div>
</div>



</body>